name: Update Docker Hub Description
on:
  push:
    branches:
      - master
    paths:
      - readme.md
      - .github/workflows/hub.yml
  pull_request:
    branches:
      - master
    paths:
      - readme.md
      - .github/workflows/hub.yml

jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: kroese/virtual-dsm
        short-description: ${{ github.event.repository.description }}
 
